<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Post View</h3>
</div>
<div class="modal-body">
  <p><strong>Title: </strong> <%= @post.title %></p>
  <p><strong>Description: </strong><%= @post.description %></p>
</div>