<div class="hero-unit">
  <div class="page-header">
    <h2>Posts List</h2>
  </div>

  <% if @post.length!=0 %>
    <section>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>

        <% @post.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.description %></td>
              <td width="156">
              <div class="btn-group" id="<%=post.id%>">
                <%#= button_to "Show", post_show_post_path(post), :class => "btn" %>
                <%#= button_to "Edit", post_edit_post_path(post), :class => "btn" %>
                <%#= button_to "Delete", post_delete_post_path(post), :class => "btn" ,:method => :delete, :data => { :confirm => 'Are you sure?' } %>
                <button class="btn show">Show</button>
                <button class="btn edit">Edit</button>
                <button class="btn delete">Delete</button>
              </div>
              </td>
            </tr>
        <% end %>
      </table>
    </section>
  <%else%>
      <h4 class="centered-text">No Posts Found!!!</h4>
  <%  end %>
  <br />
  <div >
    <a id="add-post" class="btn btn-primary btn-large" style="float: right;">Add Post</a>
  </div>
</div>

<div id="myModal" class="modal hide fade">

</div>